body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeade;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.rbc-current-time-indicator{
  background-color: #edeade !important;
}

.css-4vrnrd {
  padding-top: 0 !important;
}

/* #root {
  background-color:#cccccc;
} */

.img-width {
  width: 100%;
  height: 100%;
}